click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
Werkzeug==1.0.1
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.28.0
markupsafe==2.0.1
Django==4.0.4
django-cors-headers==3.11.0
djangorestframework==3.13.1
requests==2.27.1
Flask-SQLAlchemy==2.5.1
