click==6.7
Flask==1.0
itsdangerous==0.24
Jinja2==2.10.1
Werkzeug==0.15.3
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.28.0
markupsafe==2.0.1
Django==4.0.4
django-cors-headers==3.11.0
djangorestframework==3.13.1